* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container {
  width: 100%;
  width: 980px;
  margin: auto;
}

.hero {
  background: #445688;
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 260px;
  background: #18305a;
  color: #fff;
  padding: 40px;
  margin: 16px 0;
}

.card h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.card a.link , 
.full a.link {
  text-decoration: none;
  display: inline-block;
  background: #252b3d;
  color: #fff;
  padding: 10px;
  margin: 14px 0 0 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.card a:hover {
  background: #3a4c80;
}

.full {
  background: #2a3961;
}

.full .container {
  max-width: 640px;
}

.fullCard {
  width: 100%;
  height: 500px;
  background: #445688;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullCard h1 {
  font-size: 70px;
}
